<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<nav class="navbar navbar-expand-lg navbar-custom sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/" th:href="@{/}">
            <img src="C:\Users\godin\Downloads\Cinépolis_logo.svg.png" alt="Cinépolis Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/" th:href="@{/}">
                        <i class="bi bi-house-door"></i> Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartelera" th:href="@{/cartelera}">
                        <i class="bi bi-film"></i> Cartelera
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/funciones" th:href="@{/funciones}">
                        <i class="bi bi-clock"></i> Funciones
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuarios" th:href="@{/usuarios}">
                        <i class="bi bi-person"></i> Usuarios
                    </a>
                </li>
            </ul>
            <button class="btn btn-cart" type="button" data-bs-toggle="modal" data-bs-target="#cartModal">
                <i class="bi bi-cart3"></i> Carrito
                <span class="badge bg-light text-dark ms-1" th:text="${cartCount ?: 0}">0</span>
            </button>
        </div>
    </div>
</nav>
